@using MovieProject.Helpers
@{
    ViewBag.Title = "Index";
}
<h1>Index</h1>
@if (UserLoginProcess.Current.IsAuthenticated)
{
    <div>Hello @UserLoginProcess.Current.Username </div>
    <div>You are administrator: @UserLoginProcess.Current.IsAdministrator </div>
    @Html.ActionLink("Logout", "Logout", "Home")
}
else
{
    @Html.ActionLink("Login", "Login", "Home")
}

@ViewBag.Message @* Actually there is no need to check if it is null or "" *@

@Html.ActionLink("Registration", "Registration", "Home")
